<div class="container-fluid my-4">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-6 text-white"><strong _ngcontent-ng-c1699533157="">Leave Portal</strong></div>
                        <div class="col-6 text-end"><button class="btn btn-warning">Add New</button></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center"><span
                                        _ngcontent-ng-c1699533157=""><strong _ngcontent-ng-c1699533157="">Adil
                                            Rashid</strong></span></div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6"><strong _ngcontent-ng-c1699533157="">Leaves
                                                Available:</strong> 94 </div>
                                        <div class="col-6"><strong _ngcontent-ng-c1699533157="">Update Date:</strong>
                                            05-Nov-24 </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col-8 text-white"><strong _ngcontent-ng-c1699533157="">Assign Leaves</strong></div>
                        <div class="col-4 text-end"><button class="btn btn-primary">Close</button></div>
                    </div>
                </div>
                <div class="card-body">
                    <form novalidate="" id="leaveRequestForm" class="ng-valid ng-dirty ng-touched ng-submitted">
                        <div class="row">
                            <div class="col-md-12"><label for="deptId" class="form-label">Employee</label><select
                                    id="deptId" name="deptId" formcontrolname="employeeId"
                                    class="form-select ng-valid ng-dirty ng-touched">
                                    <option value="0" selected="" disabled="">Select Employee</option>
                                    <option value="455">shoaib bains</option>
                                    <option value="461">Pooja batra </option>
                                    <option value="462">Nikita Nisha</option>
                                    <option value="467">pragati</option>
                                    <option value="480">Shweta</option>
                                    <option value="538">Reva Jiten</option>
                                    <option value="546">Pranali</option>
                                    <option value="893">Elham mukharji</option>
                                    <option value="906">Ajay</option>
                                    <option value="909">shriya</option>
                                    <option value="978">vaishali</option>
                                    <option value="1039">papus</option>
                                    <option value="1079">Ganesh</option>
                                    <option value="1094">Pankaj K</option>
                                    <option value="1114">jafar</option>
                                    <option value="1117">Personal Angular App </option>
                                    <option value="1124">nita</option>
                                    <option value="1155">Shiva</option>
                                    <option value="1157">Nitya</option>
                                    <option value="1230">pritm</option>
                                    <option value="1276">Safa</option>
                                    <option value="1285">Faris</option>
                                    <option value="1310">Shubu</option>
                                    <option value="1315">farha</option>
                                    <option value="1320">sachin tendulkar</option>
                                    <option value="1367">Mishal</option>
                                    <option value="1368">Adil Rashid</option>
                                    <option value="1442">Islam</option>
                                    <option value="1496">MD FIROZ SHAIKH</option><!---->
                                </select></div>
                            <div class="col-md-12">
                                <div class="form-group"><label for="startDate">Leave Count</label><input type="text"
                                        formcontrolname="totalEarnedLeaves" id="startDate"
                                        class="form-control ng-untouched ng-pristine ng-valid"></div>
                            </div>
                        </div><button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>