<div class="container my-4">
    <h3 _ngcontent-ng-c4108650329="">Dashboard</h3>
    <p _ngcontent-ng-c4108650329="">Welcome Admin</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Total Employees</div>
                <div class="card-body">
                    <h2 id="totalEmployees" class="card-text">31</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Total Leave</div>
                <div class="card-body">
                    <h2 id="totalProjects" class="card-text">59</h2>
                </div>
            </div>
        </div><!---->
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">New Leaves</div>
                <div class="card-body">
                    <h2 id="activeEmployees" class="card-text">6</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Approved Leaves</div>
                <div class="card-body">
                    <h2 id="activeEmployees" class="card-text">51</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Canceled Leaves</div>
                <div class="card-body">
                    <h2 id="activeEmployees" class="card-text">2</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Earned Leaves</div>
                <div class="card-body">
                    <h2 id="activeEmployees" class="card-text">31</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Upcoming Leaves</div>
                <div class="card-body">
                    <ul id="latestProjects" class="list-group"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">Other Employee Upcoming Leaves</div>
                <div class="card-body">
                    <ul id="recentEmployees" class="list-group"></ul>
                </div>
            </div>
        </div>
    </div>
</div>